0838jh.com	A	#\r\n# robots.txt for Discuz! X2\r\n#\r\n\r\nUser-agent: *\r\nDisallow: /api/\r\nDisallow: /data/\r\nDisallow: /source/\r\nDisallow: /install/\r\nDisallow: /template*/\r\nDisallow: /config/\r\nDisallow: /uc_client/\r\nDisallow: /uc_server/\r\nDisallow: /static/\r\nDisallow: /admin.php\r\nDisallow: /search.php\r\nDisallow: /member.php\r\nDisallow: /api.php\r\nDisallow: /misc.php\r\nDisallow: /connect.php\r\nDisallow: /forum.php?mod=redirect*\r\nDisallow: /forum.php?mod=post*\r\nDisallow: /home.php?mod=spacecp*\r\nDisallow: /userapp.php?mod=app&*\r\nDisallow: /*?mod=misc*\r\nDisallow: /*?mod=attachment*\r\nDisallow: /*mobile=yes*
0838jh.com	B	http://0838jh.com/api/k
0838jh.com	B	http://0838jh.com/forum.php?mod=viewthread&tid=10118
0838jh.com	B	http://0838jh.com/forum.php?mod=postdd&tid=10118
0838jh.com	B	http://0838jh.com/api/d
0838jh.com	B	http://0838jh.com/forum.php?mod=viewthread&tid=5467
0838jh.com	B	http://0838jh.com/
0838jh.com	B	http://0838jh.com/l/mobile=yes/f
0838jh.com	B	http://0838jh.com/template/
0838jh.com	B	http://0838jh.com/template1/
0838jh.com	B	http://0838jh.com/install////
0838jh.com	B	http://0838jh.com/plugin.php?id=ppc_xiu&do=bao
0838jh.com	B	http://0838jh.com/forum.php?mod=viewthread&tid=5317
0838jh.com	B	http://0838jh.com/home.php?mod=follow
0838jh.com	B	http://0838jh.com/forum.php?mod=viewthread&tid=5432
0838jh.com	B	http://0838jh.com/forum.php?mod=viewthread&tid=10052
0838jh.com	B	http://0838jh.com/forum.php?mod=viewthread&tid=10034
0838jh.com	B	http://0838jh.com/forum-191-1.html
0838jh.com	B	http://0838jh.com/userapp.php
0838jh.com	B	http://0838jh.com/archiver/tid-5008.html
0838jh.com	B	http://0838jh.com/forum-180-1.html
0838jh.com	B	http://0838jh.com/forum.php?mod=viewthread&tid=10081
0838jh.com	B	http://0838jh.com/portal.php
0838jh.com	B	http://0838jh.com/forum.php?mod=viewthread&tid=5480
0838jh.com	B	http://0838jh.com/home.php?do=thread&from=space&mod=space&uid=626&view=me
0838jh.com	B	http://0838jh.com/thread-9825-1-1.html
0838jh.com	B	http://0838jh.com/archiver/tid-9499.html
0838jh.com	B	http://0838jh.com/forum.php?mod=viewthread&tid=8827
0838jh.com	B	http://0838jh.com/forum-184-1.html
0838jh.com	B	http://0838jh.com/home.php
0838jh.com	B	http://0838jh.com/thread-10047-1-1.html
0838jh.com	B	http://0838jh.com/home.php?mod=space&uid=626&do=thread&view=me&from=space
0838jh.com	B	http://0838jh.com/thread-3921-1-1.html
0838jh.com	B	http://0838jh.com/forum.php?fid=122&mod=forumdisplay&page=1
0838jh.com	B	http://0838jh.com/archiver/tid-3450.html
0838jh.com	B	http://0838jh.com/home.php?do=profile&mod=space&uid=626
0838jh.com	B	http://0838jh.com/thread-9811-1-1.html
0838jh.com	B	http://0838jh.com/plugin.php?id=ppc_xiu&do=detail&iid=102
0838jh.com	B	http://0838jh.com/group.php
0838jh.com	B	http://0838jh.com/thread-5043-1-1.html
0838jh.com	B	http://0838jh.com/forum.php?mod=viewthread&tid=10117
0838jh.com	B	http://0838jh.com/thread-9982-1-1.html
0838jh.com	B	http://0838jh.com/archiver/tid-5247.html
0838jh.com	B	http://0838jh.com/thread-10071-1-1.html
0838jh.com	B	http://0838jh.com/forum-199-1.html
08400523.jiewengjing.com	B	http://08400523.jiewengjing.com/
084925.wealink.com	B	http://084925.wealink.com/
085294946952.deviantart.com	B	http://085294946952.deviantart.com/
08546.ccto.tv	B	http://08546.ccto.tv/
0855-8275005.114.com.cn	B	http://0855-8275005.114.com.cn/
0860768.taobao.com	B	http://0860768.taobao.com/
0870-4121470.114.com.cn	B	http://0870-4121470.114.com.cn/
088312.99cad.com	B	http://088312.99cad.com/
089900.org	B	http://089900.org/
089900.org	B	http://089900.org/news_show.asp?id=293
09010054.sou1001.com	B	http://09010054.sou1001.com/
09035438.sou1001.com	B	http://09035438.sou1001.com/
10gaofenban.i.sohu.com	A	User-agent: Googlebot\nDisallow:\n\nUser-agent: baiduspider\nDisallow:\n\nUser-agent: Nutch\nDisallow:\n\nUser-agent: msnbot\nDisallow:\n\nUser-agent: Slurp\nDisallow:\n\nUser-agent: Sogou\nDisallow:\n\n\nUser-agent: *\nDisallow: /\n\n\n
10gaofenban.i.sohu.com	B	http://10gaofenban.i.sohu.com/blog/view/161669523.htm
10gaofenban.i.sohu.com	B	http://10gaofenban.i.sohu.com/blog/view/161678832.htm
10gaofenban.i.sohu.com	B	http://10gaofenban.i.sohu.com/video/
10gaofenban.i.sohu.com	B	http://10gaofenban.i.sohu.com/blog/show/entry/list.htm?cid=8427126
10gaofenban.i.sohu.com	B	http://10gaofenban.i.sohu.com/blog/view/161674413.htm
10gaofenban.i.sohu.com	B	http://10gaofenban.i.sohu.com/blog/view/162245902.htm
10gaofenban.i.sohu.com	B	http://10gaofenban.i.sohu.com/blog/view/162410074.htm
10gaofenban.i.sohu.com	B	http://10gaofenban.i.sohu.com/
10photography.ca	B	http://10photography.ca/
10printing.cntrades.com	B	http://10printing.cntrades.com/
10printing.cntrades.com	B	http://10printing.cntrades.com/contact
10printing.cntrades.com	B	http://10printing.cntrades.com/contact/
10tarjetasdevisita.com	B	http://10tarjetasdevisita.com/
10www.gzxerox.com	B	http://10www.gzxerox.com/
11-tmall.com	B	http://11-tmall.com/
110.76.39.151	A	#\r\n# robots.txt for Discuz! X2\r\n#\r\n\r\nUser-agent: *\r\nDisallow: /api/\r\nDisallow: /data/\r\nDisallow: /source/\r\nDisallow: /install/\r\nDisallow: /template/\r\nDisallow: /config/\r\nDisallow: /uc_client/\r\nDisallow: /uc_server/\r\nDisallow: /static/\r\nDisallow: /admin.php\r\nDisallow: /search.php\r\nDisallow: /member.php\r\nDisallow: /api.php\r\nDisallow: /misc.php\r\nDisallow: /connect.php\r\nDisallow: /forum.php?mod=redirect*\r\nDisallow: /forum.php?mod=post*\r\nDisallow: /home.php?mod=spacecp*\r\nDisallow: /userapp.php?mod=app&*\r\nDisallow: /*?mod=misc*\r\nDisallow: /*?mod=attachment*\r\nDisallow: /*mobile=yes*\r\nSitemap: http://www.375bbs.com/sitemap.xml
110.76.39.151	B	http://110.76.39.151/thread-60391-1-1.html
110.76.39.151	B	http://110.76.39.151/thread-3104-1-1.html
110.76.39.151	B	http://110.76.39.151/home.php?mod=space&uid=17&do=album&picid=2788&exif=1
110.76.39.151	B	http://110.76.39.151/thread-58313-1-1.html
110.76.39.151	B	http://110.76.39.151/archiver/tid-66863.html
110.76.39.151	B	http://110.76.39.151/thread-37508-1-1.html
110.76.39.151	B	http://110.76.39.151/forum.php?mod=forumdisplay&fid=43&digest=1?kbzrsihvxldxlwjs
110.76.39.151	B	http://110.76.39.151/thread-34933-1-1.html
110.76.39.151	B	http://110.76.39.151/thread-39873-1-1.html
110.76.39.151	B	http://110.76.39.151/thread-48532-1-1.html
110.76.39.151	B	http://110.76.39.151/thread-7457-1-1.html
110.76.39.151	B	http://110.76.39.151/thread-44005-1-1.html
110.76.39.151	B	http://110.76.39.151/thread-40450-1-1.html
110.76.39.151	B	http://110.76.39.151/thread-41677-1-1.html
110.76.39.151	B	http://110.76.39.151/forum-4-6.html
110.76.39.151	B	http://110.76.39.151/home.php?mod=space&uid=547&do=album&picid=686&goto=up
110.76.39.151	B	http://110.76.39.151/forum-73-20.html
110.76.39.151	B	http://110.76.39.151/portal.php
110.76.39.151	B	http://110.76.39.151/thread-2230-1-1.html
110.76.39.151	B	http://110.76.39.151/thread-1507-1-1.html
110.76.39.151	B	http://110.76.39.151/%3F124
110.76.39.151	B	http://110.76.39.151/thread-19392-1-1.html
110.76.39.151	B	http://110.76.39.151/thread-55807-1-1.html
110.76.39.151	B	http://110.76.39.151/thread-13910-1-1.html
110.76.39.151	B	http://110.76.39.151/thread-55806-1-1.html
110.76.39.151	B	http://110.76.39.151/thread-62821-1-1.html
110.76.39.151	B	http://110.76.39.151/forum.php?mod=viewthread&tid=32976
110.76.39.151	B	http://110.76.39.151/thread-55963-1-1.html
110.76.39.151	B	http://110.76.39.151/thread-59011-1-1.html
110.76.39.151	B	http://110.76.39.151/forum.php?mod=forumdisplay&fid=79&typeid=227
110.76.39.151	B	http://110.76.39.151/topic-xintie.html
110.76.39.151	B	http://110.76.39.151/thread-34109-1-1.html
110.76.39.151	B	http://110.76.39.151/thread-54331-1-1.html
